@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null)
    {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };


    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/EmpresaContrato/EmpresaContrato.js"   asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Contrato/CtrlUserBusquedaContrato.js" asp-append-version="true"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Cat&aacute;logos </span></li>
                    <li><span>Empresa </span></li>
                    <li class="active"><span>Contrato </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Empresa - Contrato</h2>
            <small>Asignacion de Contratos.</small>
        </div>
    </div>
</div>


<div class="content contentPrimario animate-panel">
    <div class="row rowTabDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel hnova">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools"></div>

                    <button onclick="EmpresaContrato.AbreModalContrato();" class="btn btn-primary btn-sm">Agregar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default btn-sm" onclick="EmpresaContrato.redirecciona('EMPRESA_INDEX')">Regresar</button>

                    <div class="pull-right" style="padding-top:5px;">
                        <span class="label label-info" style="font-size:14px;">Empresa:&nbsp;(@ViewBag.EmpresaDescripcion)</span>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <table id="dgDatosEmpresaContrato" data-height="480" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">&nbsp;</div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalContrato" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Contratos Vigentes</h4>
                @*<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>*@
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("_CtrlUserBusquedaContrato", "Contrato", new { Area = "Contrato" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm" onclick="EmpresaContrato.guardar();">Guardar</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorEmpresaContrato" value="EMPRESA_CONTRATO_INDEX" placeholder="APUNTADOR" />

<input type="hidden" id="txtEmpresaId"          name="txtEmpresaId"          value="@ViewBag.EmpresaId" />
<input type="hidden" id="txtEmpresaDescripcion" name="txtEmpresaDescripcion" value="@ViewBag.EmpresaDescripcion" />