@model SACC.Client.Areas.VentaUnitariaEspecial.Models.VentaUnitariaEspecialVisualizar


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null)
    {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/VentaUnitariaEspecial/VentaUnitariaEspecial.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            GridVentaUnitariaEspecial($('#EmpresaId option:selected').val(), $('#Nombre').val(), $('#EstatusId:checked').val());
        });
    </script>

    @if (TempData["text"] != null)
    {
        <script type="text/javascript">
            $(window).load(function() {
                $(document).ready(function() {
                    swal({
                        title: "@TempData["title"]",
                        text: "@TempData["text"]",
                        type: "@TempData["type"]"
                    });
                });
            });
        </script>
    };
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Adminsi&oacute;n </span></li>
                    <li class="active"><span>Venta Unitaria Especial</span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Venta Unitaria Especial</h2>
            <small>Generador de Ventas Unitarias con n&uacute;mero de socio.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowBusqueda">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Opciones de B&uacute;squeda
                </div>
                <div class="panel-body">
                    <div role="form" class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EstatusId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @foreach (SACC.Client.Models.RadioModel item in Model.Estatus)
                                {
                                    <div class="radio radio-inline input-sm">
                                        @Html.RadioButtonFor(x => x.EstatusId, item.Id, new { @class = "i-checks" })
                                        @Html.Label(item.Name)
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.EmpresaId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10 col-lg-5">
                                @Html.DropDownListFor(m => m.EmpresaId, Model.Empresas, new { @class = "form-control input-sm" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" onclick="javascript:GridVentaUnitariaEspecial($('#EmpresaId option:selected').val(), $('#Nombre').val(), $('#EstatusId:checked').val())">Buscar</button>

                                <button class="btn btn-default btn-sm" onclick="javascript:RegresarVentaUnitariaEspecial();">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    @Html.ActionLink("Agregar", "Create", "VentaUnitariaEspecial", new { Area = "VentaUnitariaEspecial" }, new { @class = "btn btn-primary btn-sm" })
                </div>

                <table id="dgDatosVentaUnitariaEspecial" data-height="430" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true">
                    <thead>
                        <tr>
                            <th data-field="VentaUnitariaId"                          data-sortable="true" data-align="center"><span>Folio             </span></th>
                            <th data-field="VentaUnitariaDescripcion"                 data-sortable="true"                    ><span>Descripci&oacute;n</span></th>
                            <th data-field="CampoComplemento_EmpresaDescripcion"      data-sortable="true"                    ><span>Empresa           </span></th>
                            <th data-field="CampoComplemento_Persona"                 data-sortable="true"                    ><span>Persona           </span></th>
                            <th data-field="CampoComplemento_SocioId"                 data-sortable="true"                    ><span>No. Socio         </span></th>
                            <th data-field="CampoComplemento_StrFecha"                data-sortable="true"                    ><span>Vigencia          </span></th>
                            <th data-field="Baja" data-formatter="estatusFormatter"   data-align="center"                     ><span>Estatus           </span></th>
                            <th data-formatter="operateActionFormatter_VentaUnitariaEspecial" data-align="center"             ><span>Acci&oacute;n     </span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>