@{
    Layout = "~/Views/Shared/_LayoutVentas.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null) {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Servicio/Servicio.js"                 asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Servicio/CtrlUserBusquedaServicio.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Persona/CtrlUserBusquedaPersona.js"   asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Empresa/CtrlUserBusquedaEmpresa.js"   asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Cotizacion/Cotizacion.js"             asp-append-version="true"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Operaci&oacute;n </span></li>
                    <li><span>Cotizaci&oacute;n </span></li>
                    <li class="active"><span>Eliminar </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Cotizaci&oacute;n</h2>
            <small>Generador de Cotizaciones.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowTabDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel hnova">
                <div class="panel-heading hbuilt">
                    <button class="btn btn-primary btn-sm" onclick="Cotizacion.baja();">Eliminar</button>

                    <button class="btn btn-default btn-sm" onclick="Cotizacion.redirecciona('COTIZACION_INDEX')">Regresar</button>
                </div>

                <div class="panel-body">
                    <div class="col-lg-12">
                        <div id="rootwizard" class="tabbable">
                            <ul>
                                <li><a href="#tab1" data-toggle="tab">Datos Generales              </a></li>
                                <li><a href="#tab2" data-toggle="tab">Selecci&oacute;n de Servicios</a></li>
                                <li><a href="#tab3" data-toggle="tab">Resumen                      </a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane" id="tab1">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div role="form" class="form-horizontal">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Folio</label>
                                                        <div class="col-sm-10 col-lg-2">
                                                            <input type="text" class="form-control input-sm" id="txtCotizacionId" name="txtCotizacionId" readonly="readonly" value="@ViewBag.CotizacionId" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control input-sm" id="txtCotizacionDescripcion" name="txtCotizacionDescripcion" readonly="readonly"/>
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="CotizacionDescripcion" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Fecha</label>
                                                        <div class="col-sm-10 col-lg-3">
                                                            <div class="input-group">
                                                                <input class="form-control input-sm" id="dtpFecha" name="dtpFecha" readonly="readonly" />
                                                                <span class="input-group-addon input-sm btn-sm"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Tipo de Cotizaci&oacute;n</label>
                                                        <div class="col-sm-10">
                                                            <div class="radio radio-inline">
                                                                <input type="radio" class="i-checks" id="rbCotizacionTipoId" name="rbCotizacionTipoId" value="1" disabled /> No socio
                                                            </div>
                                                            <div class="radio radio-inline">
                                                                <input type="radio" class="i-checks" id="rbCotizacionTipoId" name="rbCotizacionTipoId" value="2" disabled /> Socio Nova
                                                            </div>
                                                            <div class="radio radio-inline">
                                                                <input type="radio" class="i-checks" id="rbCotizacionTipoId" name="rbCotizacionTipoId" value="3" disabled /> Empresa
                                                            </div>
                                                            <div class="radio radio-inline">
                                                                <input type="radio" class="i-checks" id="rbCotizacionTipoId" name="rbCotizacionTipoId" value="4" disabled /> Emprsa Nova
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="divNombre" name="divNombre">
                                                        <label class="col-sm-2 control-label">Nombre</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="txtNombre" name="txtNombre" class="form-control input-sm" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Nombre" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group hide" id="divAfiliado" name="divAfiliado">
                                                        <label class="col-sm-2 control-label">Persona</label>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <input type="text" id="txtPersonaId" name="txtPersonaId" class="form-control input-sm" disabled="disabled" />
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        @*<span class="input-group-btn"><button onclick="Cotizacion.AbreModalConsultarPersona()" class="btn btn-warning btn-sm" disabled="disabled">Consultar</button></span>*@
                                                                        <input type="text" id="txtNombrePersona" name="txtNombrePersona" class="form-control input-sm" disabled="disabled" />
                                                                        <span class="input-group-btn"><button onclick="Cotizacion.AbreModalPersona()" class="btn btn-primary btn-sm" disabled="disabled">Buscar</button></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="PersonaNombre" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group hide" id="divEmpresa" name="divEmpresa">
                                                        <label class="col-sm-2 control-label">Empresa</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="txtEmpresa" name="txtEmpresa" class="form-control input-sm" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Empresa" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group hide" id="divConvenio" name="divConvenio">
                                                        <label class="col-sm-2 control-label">Empresa</label>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <input type="text" id="txtEmpresaId" name="txtEmpresaId" class="form-control input-sm" disabled="disabled" />
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn"><button onclick="Cotizacion.AbreModalConsultarEmpresa()" class="btn btn-warning btn-sm" disabled="disabled">Consultar</button></span>
                                                                        <input type="text" id="txtNombreEmpresa" name="txtNombreEmpresa" class="form-control input-sm" disabled="disabled" />
                                                                        <span class="input-group-btn"><button onclick="Cotizacion.AbreModalEmpresa()" class="btn btn-primary btn-sm" disabled="disabled">Buscar</button></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="EmpresaId" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group hide" id="divContacto" name="divContrato">
                                                        <label class="col-sm-2 control-label">Contacto</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="txtContacto" name="txtContacto" class="form-control input-sm" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Contacto" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="divTelefono" name="divTelefono">
                                                        <label class="col-sm-2 control-label">Tel&eacute;fono</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="txtTelefono" name="txtTelefono" class="form-control input-sm" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Telefono" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="divCorreoElectronico" name="divCorreoElectronico">
                                                        <label class="col-sm-2 control-label">Correo Electronico</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="txtCorreoElectronico" name="txtCorreoElectronico" class="form-control input-sm" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="CorreoElectronico" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab2">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div role="form" class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hnova">
                                                            <div class="panel-hbuilt hbuilt">
                                                                <button onclick="Cotizacion.AbreModalArticulo()" class="btn btn-primary btn-sm" disabled="disabled">Agregar Item</button>
                                                            </div>
                                                            <div class="panel-body" style="display: block;">
                                                                <table id="dgDatosCotizacionDetalle" data-height="300" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
                                                            </div>
                                                            <div class="panel-footer">
                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                        <div class="form-group-detalle-cotizacion hide">
                                                                            <label class="control-label">Subtotal</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">$</span>
                                                                                <input class="form-control input-sm text-right" id="txtSubTotal" name="txtSubTotal" disabled="disabled" value="0.00" />
                                                                            </div>
                                                                            <span class="field-validation-valid text-danger" data-valmsg-for="SubTotal" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="form-group-detalle-cotizacion hide">
                                                                            <label class="control-label">Iva</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">$</span>
                                                                                <input class="form-control input-sm text-right" id="txtIva" name="txtIva" disabled="disabled" value="0.00" />
                                                                            </div>
                                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Iva" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="form-group-detalle-cotizacion">
                                                                            <label class="control-label">Desct</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">$</span>
                                                                                <input class="form-control input-sm text-right" id="txDescuento" name="txDescuento" disabled="disabled" value="0.00" />
                                                                            </div>
                                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Descuento" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="form-group-detalle-cotizacion">
                                                                            <label class="control-label">Total</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">$</span>
                                                                                <input class="form-control input-sm text-right" id="txtTotal" name="txtTotal" disabled="disabled" value="0.00" />
                                                                            </div>
                                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab3">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div role="form" class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Total Cotizado</label>
                                                    <div class="col-sm-10 col-lg-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            <input type="text" class="form-control input-sm text-right" id="txtTotalCotizado" name="txtTotalCotizado" readonly="readonly" value="0.00" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="pager wizard">
                                    <li class="previous"><a href="#">Anterior</a></li>
                                    <li class="next"><a href="#">Siguiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">&nbsp;</div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorCotizacion" value="COTIZACION_EDIT" />