@{
    Layout = "~/Views/Shared/_LayoutTarifa.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null)
    {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ServicioSubrogadoTipo/ServicioSubrogadoTipo.js"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ServicioSubrogado/ServicioSubrogado.js"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Cat&aacute;logos </span></li>
                    <li><span>Servicio Subrogado </span></li>
                    <li class="active"><span>Eliminar </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Servicio Subrogado</h2>
            <small>Cat&aacute;logo de Servicios Subrogados.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel hmodal-warning">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="false"> Datos Generales</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Folio</label>
                                    <div class="col-sm-10 col-lg-2">
                                        <input type="text" id="txtServicioSubrogadoId" name="txtServicioSubrogadoId" class="form-control input-sm" , readonly="readonly" value="@ViewBag.ServicioSubrogadoId" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ServicioSubrogadoId" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="txtServicioSubrogadoDescripcion" class="form-control input-sm" disabled="disabled" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ServicioSubrogadoDescripcion" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">C&oacute;digo</label>
                                    <div class="col-sm-10 col-lg-2">
                                        <input type="text" id="txtCodigo" class="form-control input-sm" disabled="disabled" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Codigo" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tipo de Servicio Subrogado</label>
                                    <div class="col-sm-10 col-lg-5">
                                        <select id="ddlServicioSubrogadoTipoId" name="ddlServicioSubrogadoTipoId" class="form-control input-sm" disabled="disabled"></select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ServicioSubrogadoTipoId" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Costo</label>
                                    <div class="col-sm-10 col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input class="form-control input-sm text-right" id="txtCosto" name="txtCosto" disabled="disabled" value="0.00" />
                                        </div>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Costo" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group form-group-bottom">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button class="btn btn-primary btn-sm" onclick="ServicioSubrogado.baja();">Eliminar</button>

                                        <button class="btn btn-default btn-sm" onclick="ServicioSubrogado.redirecciona('SERVICIO_SUBROGADO_INDEX')">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorServicioSubrogado" value="SERVICIO_SUBROGADO_DELETE" placeholder="APUNTADOR" />