@model SACC.Client.Areas.Usuario.Models.UsuarioModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null) {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript">
        $(function () {
            $('.input-group.date').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                language: 'es'
            });
        });
    </script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Portal Empresa </span></li>
                    <li><span>Usuario </span></li>
                    <li class="active"><span>Alta </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Usuario</h2>
            <small>Cat&aacute;logo de Usuario.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Datos Generales</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            @using (Html.BeginForm("Create", "Usuario", FormMethod.Post))
                            {
                                <div role="form" class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UsuarioId, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10 col-lg-2">
                                            @Html.TextBoxFor(m => m.UsuarioId, new { @class = "form-control input-sm", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.UsuarioId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Nombre, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Paterno, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Paterno, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.Paterno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Materno, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Materno, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.Materno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Correo, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10 col-lg-5">
                                            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contrasena, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10 col-lg-2">
                                            @Html.TextBoxFor(m => m.Contrasena, new { @class = "form-control input-sm", @type = "password" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.VigenciaDesde, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10 col-lg-2">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(m => m.VigenciaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control input-sm", @readonly = "readonly" })
                                                <span class="input-group-addon input-sm btn-sm"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.VigenciaDesde, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.VigenciaHasta, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10 col-lg-2">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(m => m.VigenciaHasta, "{0:yyyy-MM-dd}", new { @class = "form-control input-sm", @readonly = "readonly" })
                                                <span class="input-group-addon input-sm btn-sm"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.VigenciaHasta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Baja, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            <div class="radio radio-inline">
                                                @Html.RadioButtonFor(m => m.Baja, false, new { @checked = "checked", @class = "i-checks", @disabled = "disabled" }) Activo
                                            </div>
                                            <div class="radio radio-inline">
                                                @Html.RadioButtonFor(m => m.Baja, true, new { @class = "i-checks", @disabled = "disabled" }) Inactivo
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-bottom">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button class="btn btn-primary btn-sm" type="submit">Guardar</button>

                                            @Html.ActionLink("Regresar", "Index", "Usuario", new { @class = "btn btn-default btn-sm" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>