@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null) {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/CoberturaCantidadTipo/CoberturaCantidadTipo.js"                         asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/CoberturaCondicionTipo/CoberturaCondicionTipo.js"                       asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/CoberturaCopagoTipo/CoberturaCopagoTipo.js"                             asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/CoberturaPeriodoTipo/CoberturaPeriodoTipo.js"                           asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Paquete/CtrlUserBusquedaPaquete.js"                                     asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ContratoCoberturaPaqueteCondicion/ContratoCoberturaPaqueteCondicion.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ContratoCoberturaPaqueteExclusion/ContratoCoberturaPaqueteExclusion.js" asp-append-version="true"></script>
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ContratoCoberturaPaquete/ContratoCoberturaPaquete.js"                   asp-append-version="true"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Configuraci&oacute;n </span></li>
                    <li><span>Contrato </span></li>
                    <li><span>Cobertura </span></li>
                    <li class="active"><span>Paquete </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Contrato Cobertura Paquete</h2>
            <small>Asignacion de Paquetes.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowTabDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel hnovagrey">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools"></div>

                    <button onclick="ContratoCoberturaPaquete.AbreModalPaqueteCobertura()" class="btn btn-primary btn-sm">Agregar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default btn-sm" onclick="ContratoCoberturaPaquete.redirecciona('CONTRATO_COBERTURA_INDEX');">Regresar</button>

                    <div class="pull-right" style="padding-top:5px;">
                        <span class="label label-info" style="font-size:14px;">Contrato:&nbsp;@ViewBag.ContratoDescripcion&nbsp;Cobertura:&nbsp;@ViewBag.ContratoCoberturaDescripcion</span>
                    </div>
                </div>

                <div class="panel-body">
                    <table id="dgDatosContratoCoberturaPaquete" data-height="480" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
                </div>

                <div class="panel-footer">&nbsp;</div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalPaquetesCobertura" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Paquetes de Cobertura Vigentes</h4>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("_CtrlUserBusquedaPaquete", "Paquete", new { Area = "Paquete" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm" onclick="ContratoCoberturaPaquete.AgregarPaqueteCobertura()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalCondicionesCreate" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Condiciones de la Cobertura</h4>
                <small class="font-bold"><span id="TituloConcicionCreate"></span></small>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("_Create", "ContratoCoberturaPaqueteCondicion", new { Area = "ContratoCoberturaPaqueteCondicion" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm" onclick="ContratoCoberturaPaqueteCondicion.guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalCondicionesEdit" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Condiciones de la Cobertura</h4>
                <small class="font-bold"><span id="TituloConcicionEdit"></span></small>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("_Edit", "ContratoCoberturaPaqueteCondicion", new { Area = "ContratoCoberturaPaqueteCondicion" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                @*<button class="btn btn-primary btn-sm" onclick="ContratoCoberturaPaquete.AgregarPaqueteCobertura()">Actualizar</button>*@
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalExclusionesIndex" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Excusiones de la Cobertura</h4>
                <small class="font-bold"><span id="TituloExclusionIndex"></span></small>
            </div>

            <div class="modal-body" style="height: 400px !important; overflow-y: hidden">
                @{
                    Html.RenderAction("_Index", "ContratoCoberturaPaqueteExclusion", new { Area = "ContratoCoberturaPaqueteExclusion" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm" onclick="ContratoCoberturaPaqueteExclusion.guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalExclusionesEdit" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Excusiones de la Cobertura</h4>
                <small class="font-bold"><span id="TituloExclusionEdit"></span></small>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("_CtrlUserBusquedaPaquete", "Paquete", new { Area = "Paquete" });
                }
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm" onclick="ContratoCoberturaPaqueteExclusion.actualizar()">Actualizar</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorContratoCoberturaPaquete" value="CONTRATO_COBERTURA_PAQUETE_INDEX" placeholder="APUNTADOR" />

<input type="hidden" id="txtContratoId"                   name="txtContratoId"                   value="@ViewBag.ContratoId" />
<input type="hidden" id="txtContratoDescripcion"          name="txtContratoDescripcion"          value="@ViewBag.ContratoDescripcion" />
<input type="hidden" id="txtContratoCoberturaId"          name="txtContratoCoberturaId"          value="@ViewBag.ContratoCoberturaId" />
<input type="hidden" id="txtContratoCoberturaDescripcion" name="txtContratoCoberturaDescripcion" value="@ViewBag.ContratoCoberturaDescripcion" />